<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace==绑定一个指定的Dao/Mapper接口-->
<mapper namespace="com.dao.UserDao">


    <!--select查询ID-->
    <!--<select id="getUserByID" parameterType="int" resultType="com.pojo.User" >-->
        <!--SELECT * FROM mybatis.user WHERE id=#{id}-->
    <!--</select>-->

    <!--id对应select中的resultMap，Type对应实体类-->
    <resultMap id="UserMap" type="com.pojo.User">
        <!--column对应数据库字段，property对应实体类中的属性-->
        <!--<result column="id" property="id"/>-->
        <!--<result column="name" property="name"/>-->
        <result column="pwd" property="password"/>
    </resultMap>
    <select id="getUserByID" resultMap="UserMap">
        SELECT * FROM mybatis.user WHERE id=#{id}
    </select>


</mapper>